#links {
  background-image: url('../images/footer-bg.jpg');
  background-size: cover;
  height: 270px;
  .container {
    display: flex;
    justify-content: space-between;
  }
  .list {
    display: flex;
    padding-top: 30px;
    &>div {
      padding-right: 30px;
    }
  }
  
  h4 {
    color: $brand-text;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  li {
    list-style-type: none;
    font-size: 0.8rem;
    a {
      text-decoration: none;
      color: gray;
    }
  }
  figure {
    height: 270px;
    width: 410px;
    position: relative;
    overflow: hidden;
    img {
      max-height: 410px;
      max-width: 410px;
      position: absolute;
      top: -70px;
    }
  }
}